.my-profile {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
}
.name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px 0px;
}
img {
  height: 350px;
}
.contact {
  margin: 0;
  color: lightgrey;
}
button {
  padding: 10px;
  border-radius: 15px;
  background-color: #505355;
  color: #eee;
  font-weight: bold;
  font-size: 14px;
}
